<div class='' style='word-spacing :  normal; background-color :  #FBF1F1; '>
  <div class='x_-1657111380body' style='background-color :  #FBF1F1; '>
    <div class='x_-1657111380d-small-none' style='min-height:  40px; '></div>
    <div
      class='x_-1657111380header'
      style='background :  #ffffff; background-color :  #ffffff; margin :  0px auto; border-radius :  10px 10px 0px 0px; max-width :  600px; '
    >
      <table
        align='center'
        border='0'
        cellpadding='0'
        cellspacing='0'
        style='background :  #ffffff; background-color :  #ffffff; width :  100%; border-radius :  10px 10px 0px 0px; '
      >
        <tbody>
          <tr>
            <td
              style='direction :  ltr; font-size :  0px; padding :  15px; padding-top :  35px; text-align :  center; '
            >
              <div
                class='x_-1657111380mj-column-per-100 x_-1657111380mj-outlook-group-fix x_-1657111380mj-column'
                style='font-size :  0px; text-align :  left; direction :  ltr; display :  inline-block; vertical-align :  top; width :  100%; '
              >
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                  <tbody>
                    <tr>
                      <td
                        style='text-align: center; vertical-align: top; padding: 0 20px;'
                      >
                        <img
                          class='x_-1657111380dark-hide'
                          width='130'
                          height='40'
                          src='https://sunoo.app/images/sunoo-logo.png'
                          alt='SunooApp'
                          style='width: 200px; height: 50px; display: block; margin: auto;'
                        />
                        <div
                          class='x_-1657111380dark-show'
                          style='display: none; text-align: center;'
                        >
                          <img
                            class='x_-1657111380dark-show'
                            width='130'
                            height='40'
                            src='https://sunoo.app/images/sunoo-logo.png'
                            alt='SunooApp'
                            style='width: 130px; height: 40px;  display: block; margin: auto;'
                          />
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class='x_-1657111380content'
      style='background :  #ffffff; background-color :  #ffffff; margin :  0px auto; border-radius :  0px 0px 10px 10px; max-width :  600px; '
    >
      <table
        align='center'
        border='0'
        cellpadding='0'
        cellspacing='0'
        style='background :  #ffffff; background-color :  #ffffff; width :  100%; border-radius :  0px 0px 10px 10px; '
      >
        <tbody>
          <tr>
            <td
              style='direction :  ltr; font-size :  0px; padding :  15px; text-align :  center; '
            >
              <div
                class='x_-1657111380mj-column-per-100 x_-1657111380mj-outlook-group-fix x_-1657111380mj-column'
                style='font-size :  0px; text-align :  left; direction :  ltr; display :  inline-block; vertical-align :  top; width :  100%; '
              >
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                  <tbody>
                    <tr>
                      <td style='vertical-align :  top; padding :  0 15px; '>
                        <table
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                        >
                          <tbody>
                            <tr>
                              <td
                                align='left'
                                style='font-size :  0px; padding :  0; '
                              >
                                <div
                                  style='font-family :  Work Sans, system-ui, -apple-system, sans-serif; font-size :  16px; font-weight :  400; letter-spacing :  -0.025em; line-height :  1.5; text-align :  left; color :  #000000; '
                                >
                                  <p
                                    style='padding :  0; margin :  0 0 0; font-size :  16px; line-height :  28px; letter-spacing :  -0.72px; '
                                  >
                                    Hello
                                    <strong>{{userName}}</strong>, Welcome to
                                    <b>{{appName}}</b>
                                    your gateway to endless stories and
                                    adventures! in your own language, We're so
                                    excited to have you join our growing family
                                    of audiobook enthusiasts.
                                  </p>
                                  <p
                                    style='padding :  0; margin :  15px 0 0;  '
                                  >Before we dive in, please confirm your email
                                    to activate your account and start
                                    exploring:
                                  </p>

                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td
                                class='x_-1657111380btn-primary'
                                align='center'
                                style='font-size :  0px; padding :  8px 0; '
                              >
                                <table
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='border-collapse :  separate; width :  100%; line-height :  100%; '
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        align='center'
                                        bgcolor='#F97D83'
                                        style='border :  none; border-radius :  8px; cursor :  auto; color :  #fff;  background-color: #CB0002;'
                                        valign='middle'
                                      ><a
                                          href='{{verificationUrl}}'
                                          style='display :  inline-block;  color :  #ffffff; font-family :  Inter, system-ui, -apple-system, sans-serif; font-size :  16px; font-weight :  normal; line-height :  1.4; letter-spacing :  -0.025em; margin :  0; text-decoration :  none; text-transform :  none; padding :  16px; border-radius :  8px; '
                                          target='_blank'
                                        ><strong>Verify email</strong></a></td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div
                                          style='font-family :  Work Sans, system-ui, -apple-system, sans-serif; font-size :  16px; font-weight :  400; letter-spacing :  -0.025em; line-height :  1.5; text-align :  left; color :  #000000; margin-top:15px; '
                                        >
                                          <p
                                            style='padding :  0; margin :  0 0 0; font-size :  16px; line-height :  28px; letter-spacing :  -0.72px; '
                                          >
                                            I am Neha Sharma, the CEO and
                                            founder of
                                            {{appName}}. When I started this
                                            journey, my dream was to bring the
                                            magic of storytelling to life for
                                            busy, curious minds like yours.
                                            We've crafted
                                            {{appName}}
                                            to be your go-to destination for
                                            inspiration, relaxation, and
                                            everything in between.
                                          </p>
                                          <p>
                                            After confirming your email, you'll
                                            be ready to:
                                            <ul style='list-style-type: none;'>
                                              <li>🎧 Explore thousands of
                                                audiobooks across genres.</li>
                                              <li>🌟 Get personalized
                                                recommendations.</li>
                                              <li>✨ Access exclusive content
                                                curated just for you.</li>

                                            </ul>

                                          </p>
                                          <p>
                                            If you have any questions or
                                            feedback, we're always here to help.
                                          </p>
                                          <p>
                                            Happy listening,<br />
                                            Neha Sharma<br />
                                            CEO & Founder,
                                            {{appName}}
                                          </p>
                                        </div>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      style="font-family: 'Segoe UI', sans-serif; font-size: 12px; color: #666; margin-top: 30px; display: flex; justify-content: center; flex-direction: column; align-items: center;"
    >
      <br />© 2025
      {{appName}}
    </div>
    <div
      class='x_-1657111380footer'
      style='margin :  0px auto; max-width :  600px; '
    >
      <table
        align='center'
        border='0'
        cellpadding='0'
        cellspacing='0'
        style='width :  100%; '
      >
        <tbody>
          <tr>
            <td
              style='direction :  ltr; font-size :  0px; padding :  15px; padding-top :  25px; text-align :  center; '
            >
              <div
                class='x_-1657111380mj-column-per-100 x_-1657111380mj-outlook-group-fix'
                style='font-size :  0; line-height :  0; text-align :  left; display :  inline-block; width :  100%; direction :  ltr; '
              >
                <div
                  class='x_-1657111380mj-column-per-50 x_-1657111380mj-outlook-group-fix x_-1657111380mj-column'
                  style='font-size :  0px; text-align :  left; direction :  ltr; display :  inline-block; vertical-align :  top; width :  50%; '
                >
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                  >
                    <tbody>
                      <tr>
                        <td
                          style='vertical-align :  top; padding :  0 15px; padding-top :  2px; '
                        >
                          <table
                            border='0'
                            cellpadding='0'
                            cellspacing='0'
                            width='100%'
                          >
                            <tbody>
                              <tr>
                                <td
                                  align='left'
                                  style='font-size :  0px; padding :  0; '
                                >

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style='margin :  0px auto; max-width :  600px; '>
      <table
        align='center'
        border='0'
        cellpadding='0'
        cellspacing='0'
        style='width :  100%; '
      >
        <tbody>
          <tr>
            <td
              style='direction :  ltr; font-size :  0px; padding :  15px; text-align :  center; '
            >
              <div
                class='x_-1657111380mj-column-per-100 x_-1657111380mj-outlook-group-fix'
                style='font-size :  0px; text-align :  left; direction :  ltr; display :  inline-block; vertical-align :  top; width :  100%; '
              >
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                  <tbody>
                    <tr>
                      <td style='vertical-align :  top; padding :  0 15px; '>
                        <table
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          width='100%'
                        >
                          <tbody>
                            <tr>
                              <td style='font-size :  0px; '>
                                <div style='min-height:  0; line-height :  0; '>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
